:root {
  --main-text-color: #dbe2e6;
  --main-light-blue-background: #93b3c8;
  --main-text-on-light-blue: rgb(209, 209, 209);
  --main-top-image-bg: #1f2126;
  --main-editor-bg-color: #363a43;
  --main-editor-text-color: #e6e7e8;
  --main-editor-input-bg-color: #30333b;
  --main-editor-section-title-color: #a3a3a3;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-family: Arial, Helvetica, sans-serif;
  background: #1b2838;
  font-size: 12px;
  color: #c6d4df
}